{{#if totalNumRecs}}
	<div class="margin10 onlyBottomMargin">
		<h5>Filters</h5>
		Showing <strong>{{ totalNumRecs }}</strong> products
	</div>
{{/if}}

{{#if breadBoxList}}
	<ul class="plainList">
		{{#each breadBoxList}}
			<li class="margin6 pad6 noLeftMargin background_primary fontSize_2 bold inline-block">
				<input class="c-breadBox is-hidden" data-nav-state="{{this.newNavState}}"  name="breadBox{{@index}}" id="breadBox{{@index}}" type="checkbox" checked />
				<label for="breadBox{{@index}}" class="pointer">
					{{#if (if_eq this.dimensionName "d_CustomerRating")}}
						<span class="rating m-{{ GWFilterStarRating this.label }}-star"></span> and up
					{{else}}
						{{this.label}}
					{{/if}}
					<span class="font-icon_close m-clear cursorPointer margin6 noRightMargin color_4B"></span>
				</label>
			</li>
		{{/each}}
	</ul>
	<a title="Clear all" href="{{defaultNavigationState}}" class="bold margin10 noSideMargin inlineBlock" id="c-clearBreadBox">Clear all filters</a>
{{/if}}