<div class="gridwallTile_col">
    <div class="gridwallTile c-gridwallTile prepaidGridwallTile">
        <div class="gridwallTile_specialOffer"></div>          
        <div class="centerElement margin24 onlyBottomMargin">
            <div class="gridwallTile_imageContainer center m-fullWidth">
				{{#if deviceInfo.Brand.[0]}}
				<img src="//ss7.vzw.com/is/image/VerizonWireless/{{{deviceInfo.[sku.imageName].[0]}}}?$png8alpha256$&hei=220" srcset="//ss7.vzw.com/is/image/VerizonWireless/{{{deviceInfo.[sku.imageName].[0]}}}?$png8alpha256$&hei=440 2x" class="gridwallTile_image m-fullWidth" alt="{{{deviceInfo.[sku.imageName].[0]}}}" />
                {{/if}}				
            </div>
        </div>
		<div class="gridwallTile_colorSwatches margin30 onlyBottomMargin clearfix">
		    {{#each availableSkuDetails}}
                {{#if (deviceColorSwatchExists [attributes].[sku.colorImage].[0] [attributes].[sku.colorStyle]) }}
        			<a
                        href="javascript:;"
                         data-pdpurl="{{{ [attributes].[sku.pdpUrl] }}}"
                         data-skuid="{{{ [attributes].[sku.id] }}}"
                         data-imagename="{{{ [attributes].[sku.imageName] }}}"
                         class="gridwallTile_colorSwatch"
                         style="{{#if [attributes].[sku.colorImage]}} background-image: url('{{{ [attributes].[sku.colorImage] }}}');{{/if}} background-color:{{{ [attributes].[sku.colorStyle] }}};"></a>
                {{/if}}
            {{/each}}
        </div>        
        <h6 class="gridwallTile_deviceName">
        	<a href="{{{deviceInfo.[product.pdpUrl].[0] }}}">{{{deviceInfo.Brand.[0]}}}<span>{{{deviceInfo.[product.displayName].[0]}}}</span></a>
        </h6>
		<div class="gridwallTile_ratings">
            {{> ratingsAndReview noOfReviews=deviceInfo.[product.numberOfReviews].[0] avgRating=deviceInfo.[product.averageRating].[0] }}
        </div>
        <div class="fontSize_6">
            {{> devicePrice deviceInfo.[product.gridwallDevicePriceVO].[0].pricingResultMap}}
        </div>
		<div class="gridwallTile_pricingMessage"> 
			{{> inventory device}} 
        </div>
		<div class="checkbox gridwallTile_checkbox">
			<input type="checkbox" id="compare_{{availableSkuDetails.[0].attributes.[sku.id]}}" class="c-compare-device" /> 
			<label for="compare_{{availableSkuDetails.[0].attributes.[sku.id]}}" class="c-compare-device-label">Compare</label>
		</div>		
    </div>
</div>
