{{#each refinements as |parentRefinementObj|}}
	<div id="{{this.name}}-title" class="border_CC onlyTopBorder pad18 onlyTopPad margin18 onlyBottomMargin" data-toggle="{{this.defaultView}}">
		<h3 class="fontSize_3 c-filter-header pointer">
			{{this.name}}
			{{#unless (if_eq this.name "Category")}}
				<span class="font-icon_minus rightFloat margin6 onlyTopMargin"></span>
			{{/unless}}
		</h3>
	</div>
	<div id="{{this.name}}-values" class="margin30 onlyBottomMargin gwFilterOptions">
		<ul class="plainList {{#if (if_eq this.name 'Color')}}gridwallFilterFacet{{/if}}">
			{{#each this.refinements}}
				{{> filter this index=@index name=parentRefinementObj.name style=parentRefinementObj.style}}<!--Partials to load each filter categoty-->
			{{/each}}
		</ul>
	</div>
{{/each}}<!--End of 'refinements' each block-->