<div class="grid clearfix">
  <div class="section group border_CC onlyBottomBorder" id="breadCrumbHeaderWrapper">
        <div class="col span_8_of_12" id="breadCrumbHeader"></div>
		<div class="col span_4_of_12 rightAlign" id="lpVoiceChatHeader" style="float: right;">
            <div class="gwLP_ChatWrapper">
                <div id="lpdynamicchatdiv" class="gwLP_ChatNowBtn"></div>
                <div id="lpdynamicvoicediv" class="gwLP_CallNowBtn"></div>
            </div>
        </div>
	</div>
</div>
<div class="background_FF gridwall-a">
	<div class="grid clearfix">
		<div class="section group pad15 onlyTopPad clearfix">
			<div class="col span_9_of_12">
				<h1>{{{header.headerContent.[0].title}}}</h1>
			</div>
			<div class="col span_3_of_12 pad15 onlyTopPad relative" id="freeShippingWrapper"></div>	
			<div class="clear"></div>
            <div class="col span_12_of_12 noLeftMargin" id="c-link-text"></div>
		</div>
		<div class="clear"></div>
        <div class="section-group">
            <section class="span_12_of_12 rightAlign pad15 onlyTopPad border_CC onlyTopBorder o-feature-text-description" style="display:none">
                <a href="#" class="o-feature-text-description-close" >Close</a>                
            </section>
            <section class="col span_12_of_12" id="c-linkTextDescription"></section>            
        </div>
        <div class="clear"></div>
		<div id="c-contractFilter" class="section group"></div>
		<div class="section group">
			<div class="col span_3_of_12 filters">
				<div class="gridwallFilter_wrapper">
					<div id="c-breadbox" class="pad10 onlyBottomPad"></div>
					<div id="c-filters" class="gridwallFilter-a"></div>
				</div>
			</div>
			<div class="col span_9_of_12 no-gutter m-gridwall">
				<div class="section group pad20 onlyBottomPad">
					<div class="col span_4_of_12 floatRight">
						<div class="gridwallLinks_sortWrapper clearfix" id="sort-options"></div>
					</div>					
				</div>
				<section id="devices" class="clearfix"></section>
				<div class="section group center">
					<div class="pagination center margin36 onlyTopMargin clearfix"></div>
				</div>
			</div>
		</div>
	</div>
</div>